<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Teams</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-list>
    <ion-item-group *ngFor="let division of (divisions$ | async)">
      <ion-item-divider color="light">Division {{division.name}}</ion-item-divider>
      <ion-item *ngFor="let team of division.teams" (tap)="itemTapped($event, team)">
        <ion-avatar item-start>
        <img src="{{team.logoURL}}" alt="{{team.name}}">
        </ion-avatar>
        <h2>{{team.name}}</h2>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
