<div class="filter-modal" padding>
  <h3>Filter Schedule</h3>
  <ion-list>
    <ion-item>
      <ion-label>Team</ion-label>
      <ion-select [(ngModel)]="activeTeam"
                  [selectOptions]="selectOpts"
                  [compareWith]="teamCompareFn">
        <ion-option [value]="null">Show all</ion-option>
        <ion-option *ngFor="let team of teams" [value]="team">{{team.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>From:</ion-label>
      <ion-datetime displayFormat="DDD D MMM YYYY" [(ngModel)]="startStr" min="2017"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>To:</ion-label>
      <ion-datetime displayFormat="DDD D MMM YYYY" [(ngModel)]="endStr" min="2017"></ion-datetime>
    </ion-item>
  </ion-list>
  <button ion-button (tap)="onSave()">Save</button>
  <button ion-button (tap)="onCancel()">Close</button>
</div>
